app:
  name: catalyst
  mode: DEBUG
  host:
  port: 8000
  timezone: GMT+0530
  metrics:
    enabled: true
    port: 8001
    route: /metrics
db:
  ## Postgres
  host: localhost
  port: 5432
  database: test
  user: postgres
  password: admin
  poolsize: 10
  # check whether db is accessible
  check: false
log:
  level: INFO
