# Logger Configurations

# log level
#
# Available log levels and their granularity are as follows.
#  ERROR: log messages with log level 'ERROR' (default)
#  WARN:  log messages with log level 'ERROR' and 'WARN'
#  DEBUG: log messages with log level 'ERROR', 'WARN' and 'DEBUG'
#  INFO:  log messages with log level 'ERROR', 'WARN', 'DEBUG' and 'INFO'
level: "INFO"

# enable logging colors
colors: true

# enable console logging
console: true

# enable file logging
file: false

# directory to be used for logging
# will use "logs" directory in the project's root directory as the default
directory: "logs"