# Logger Configurations

# log level
#
# Available log levels and their granularity are as follows.
#  ERROR: log messages with log level 'ERROR' (default)
#  WARN:  log messages with log level 'ERROR' and 'WARN'
#  DEBUG: log messages with log level 'ERROR', 'WARN' and 'DEBUG'
#  INFO:  log messages with log level 'ERROR', 'WARN', 'DEBUG' and 'INFO'
level: "INFO"

# enable logging colors
colors: true

# define flavour of logs ("text", "json")
flavour: "text"
